CREATE TABLE projectmodel (
	id VARCHAR NOT NULL, 
	name VARCHAR NOT NULL, 
	description VARCHAR, 
	project_type VARCHAR NOT NULL, 
	created_at DATETIME NOT NULL, 
	last_accessed_at DATETIME NOT NULL, 
	active BOOLEAN NOT NULL, 
	history_json VARCHAR, 
	metadata_json VARCHAR, 
	PRIMARY KEY (id)
)
CREATE INDEX ix_projectmodel_name ON projectmodel (name)
CREATE TABLE workflowmodel (
	id VARCHAR NOT NULL, 
	name VARCHAR NOT NULL, 
	description VARCHAR, 
	project_id VARCHAR NOT NULL, 
	type VARCHAR NOT NULL, 
	trigger_type VARCHAR NOT NULL, 
	trigger_config VARCHAR, 
	status VARCHAR NOT NULL, 
	last_run DATETIME, 
	created_at DATETIME NOT NULL, 
	metadata_json VARCHAR, steps_json TEXT DEFAULT '[]', 
	PRIMARY KEY (id)
)
CREATE INDEX ix_workflowmodel_name ON workflowmodel (name)
CREATE INDEX ix_workflowmodel_project_id ON workflowmodel (project_id)
CREATE TABLE audit_logs (
	id INTEGER NOT NULL, 
	project_id VARCHAR NOT NULL, 
	action_type VARCHAR NOT NULL, 
	details VARCHAR NOT NULL, 
	created_at DATETIME NOT NULL, 
	PRIMARY KEY (id)
)
CREATE INDEX ix_audit_logs_action_type ON audit_logs (action_type)
CREATE INDEX ix_audit_logs_project_id ON audit_logs (project_id)
CREATE TABLE usermodel (
	id VARCHAR NOT NULL, 
	email VARCHAR NOT NULL, 
	hashed_password VARCHAR NOT NULL, 
	full_name VARCHAR, 
	is_active BOOLEAN NOT NULL, 
	created_at DATETIME NOT NULL, 
	PRIMARY KEY (id)
)
CREATE UNIQUE INDEX ix_usermodel_email ON usermodel (email)
CREATE TABLE documents (
                    file_id     TEXT PRIMARY KEY,
                    filename    TEXT NOT NULL,
                    original_name TEXT NOT NULL,
                    status      TEXT NOT NULL DEFAULT 'indexed',
                    rag_enabled INTEGER NOT NULL DEFAULT 1,
                    project_id  TEXT NOT NULL DEFAULT 'default',
                    chunk_count INTEGER NOT NULL DEFAULT 0,
                    uploaded_at TEXT NOT NULL
                )
